.menu {
    width: 49px;
    list-style: none;
    /*margin: 0 auto;*/
    padding: 0.75rem;
    background-color: #c49fb030;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        /* Нижний и правый эффект глубины */
            inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
                /* Верхний и левый эффект глубины */
            inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
                /* Эффект тени */
            3px 2px 10px rgba(0, 0, 0, 0.25),
                /* Короткий подповерхностный эффект */
            inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
                /* Длинный подповерхностный эффект */
            inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);
}

.menu li:nth-child(7) {
    margin-top: 5rem;
    padding-top: 1.25rem;
    border-top: 1px solid #b3b4c2;
}

.menu li + li {
    margin-top: 0.75rem;
}

.menu a {
    /*width: 72px;*/
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    position: relative;
}

.menu a:hover,
.menu a:focus,
.menu a.active {
    background-color: #b3b4c2;
    outline: 0;
}

.menu a:hover span,
.menu a:focus span,
.menu a.active span {
    transform: scale(1);
    opacity: 1;
    color: #4f5461;
}




.menu a i {
    font-size: 1.375rem;
}

.menu a span {
    position: absolute;
    background-color: #b3b4c2;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    left: calc(100% + 1.5rem);
    transform-origin: center left;
    transform: scale(0);
    opacity: 0;
    transition: 0.15s ease;
}

.menu a span::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #b3b4c2;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 3px;
}


.container-list-1 {
    width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.container-organization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}


.container-organization .btn-style902{
    width: 500px;
    margin-top: 55px;
}


.container-organization-1 {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 220px;
    text-align: start;
}
.container-organization-2 {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*height: 350px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px
}



.container-organization .fancy-input{
    width: auto;
}


.text-h {
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: #4F5461;
}


.text-mini {
    font-family: 'Inter', sans-serif;
    color: #4F5461;
    padding-left: 5px;
    font-size: 1.2rem;

}

.text-mini-table {
    font-family: 'Inter', sans-serif;
    color: #4F5461;
    padding-left: 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;

}

.list-input {
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 10px;
    /*padding: 14px 16px 14px 44px; !* место слева под картинку *!*/
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #e3e6ec;
    outline: none;
    background: #ffffff;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}

.list-input::placeholder {
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
}

/* Анимация при наведении */
.list-input:hover {
    border-color: #efbfc9;
}

/* Анимация при фокусе */
.list-input:focus {
    border-color: #a6c7ea;
    box-shadow: 0 6px 20px rgba(108, 140, 255, 0.25);
    transform: translateY(-1px);
}

/* Placeholder стиль */
.list-input::placeholder {
    color: #aaa;
    transition: opacity 0.3s ease;
}

.list-input:focus::placeholder {
    opacity: 0.4;
}

.list {
    list-style: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list__item {
    /*background: #c7a3b1;*/
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    animation: slide-from-top 0.6s ease;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #4F5461;
    letter-spacing: 1px;
    width: 460px;


    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        /* Нижний и правый эффект глубины */
            inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
                /* Верхний и левый эффект глубины */
            inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
                /* Эффект тени */
            2px 2px 9px rgba(0, 0, 0, 0.25),
                /* Короткий подповерхностный эффект */
            inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
                /* Длинный подповерхностный эффект */
            inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);
}

.icon-close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.icon-close:hover {
    opacity: 1;
}

@keyframes slide-from-top {
    0% { transform: translateY(-30px); opacity: 0; }
    60% { transform: translateY(10px); }
    100% { transform: translateY(0); opacity: 1; }
}






.container-admin-1 {
    /*display: grid;*/
    /*grid-template-columns: 80px 1fr; !* 1 столбец всегда 80px, 2 — остальное *!*/
    height: 100vh;
    display: flex;
}

.container-admin-1 > :first-child {
    justify-self: start;   /* прижать к левому краю */
}

.container-admin-1 > :last-child {
    justify-self: center;  /* по центру по горизонтали */
    align-self: center;    /* по центру по вертикали */
}

.container-admin-1 .card-setup {
    width: 800px;
    height: 500px;
    margin-left: 87px;
}

.nav-cont {
    margin: auto;
    width: 200px;

}

.container-admin-2 {
    width: 1250px;
}

.container-admin-2 .card-setup {
    background-color: #c49fb030;
}

.container-structure .btn-style902 {
    width: 500px;

}

.container-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-structure .container-list-1 {
    margin: auto;
}
.container-structure .block {
    width: 12%;
}


.container-table {
    /*width: 850px;*/
    margin: 0 auto;
}

.demo-table {
    border-spacing: 0 10px;
    width: 100%;
}
.demo-table thead tr td {
    text-align: left;
    /*padding: 10px 8px;*/
    font-weight: 600;

}

.demo-table .tr-cont {

    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow:
        /* Нижний и правый эффект глубины */
            inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
                /* Верхний и левый эффект глубины */
            inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
                /* Эффект тени */
            3px 2px 10px rgba(0, 0, 0, 0.25),
                /* Короткий подповерхностный эффект */
            inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
                /* Длинный подповерхностный эффект */
            inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

}

.demo-table tbody tr td {
    padding: 10px 8px;
    /*background-color: white;*/
}
.demo-table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.demo-table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.demo-table tbody tr td .profile {
    display: flex;
    align-items: center;
}

.profile-out {
    width: 35%;
}

.btn-sq {
    display: flex;
}

.role-out, edit-out {
    width: 25%;
}

.edit-out {
    /*display: flex;*/
    /*height: 50px;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.container-search .btn-sq img{
    background-color: #899881;
}

.container-search .btn-sq img:hover{
    background-color: #6b7565;
}

.container-search .btn-sq {
    margin-left: 20px;
}

.btn-sq img {
    width: 25px;
    height: 25px;
    margin: auto;
    padding: 8px;
    background-color: #bbb6bc;
    border-radius: 12px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-sq img:hover {
    transform: scale(1.15) rotate(5deg);
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.35);
    background-color: #a8a3aa;
}

.btn-sq img:active {
    transform: scale(0.95);
}

.role {
    color: #4f5461;
}


.demo-table tbody tr td .profile .info .title {
    font-weight: 700;
    /*font-size: 16px;*/
    margin-bottom: 5px;

}
.demo-table tbody tr td .profile .info .username {
    font-size: 1rem;
    opacity: 0.5;
    text-align: start;
}
.demo-table tbody tr td .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.demo-table tbody tr td.check-row .check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-table tbody tr:last-child td {
    border: 0;
}

.container-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.container-search .fancy-input{
    width: 300px;
    height: 11px;


    /*max-width: none;*/
}

.container-search .input-wrapper {
    max-width: none;
    /*padding-right: 30px;*/
}


