
/*.glass {*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*    backdrop-filter: blur(10px);*/
/*    -webkit-backdrop-filter: blur(10px);*/
/*    border-radius: 16px;*/
/*    border: 1px solid rgba(255, 255, 255, 0.3);*/
/*    !*padding: 10px;*!*/
/*    margin: 10px;*/
/*    box-shadow: 0 4px 30px rgba(0,0,0,0.1);*/
/*}*/


.glass {
    /* Эффект размытия */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        /* Нижний и правый эффект глубины */
            inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
                /* Верхний и левый эффект глубины */
            inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
                /* Эффект тени */
            3px 2px 10px rgba(0, 0, 0, 0.25),
                /* Короткий подповерхностный эффект */
            inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
                /* Длинный подповерхностный эффект */
            inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

    /* Позволяем дочерним элементам заполнять родительский */
    position: relative;

    /* Скругляем углы */
    border-radius: 10px;

    /* Скрываем углы заголовка */
    overflow: hidden;
}

.card-setup {
    padding: 40px;
    text-align: center;
}
