.card-title {
    /*margin-bottom: 30px;*/
    font-size: 2.5rem;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /*padding: 10px;*/
    margin: 10px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

.card-setup {
    width: 500px;

    text-align: center;
}
